/*!
 * Start Bootstrap - SB Admin v5.0.2 (https://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  background-color: #F4F5FA
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 80px;
-webkit-box-shadow: inset 0px 15px 20px -12px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 15px 20px -12px rgba(0,0,0,0.3);
box-shadow: inset 0px 15px 20px -12px rgba(0,0,0,0.3);
}

body.fixed-nav #content-wrapper {
  margin-top: 56px;
  padding-left: 90px;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
  padding-left: 0;
}

@media (min-width: 768px) {
  body.fixed-nav #content-wrapper {
    padding-left: 225px;
  }
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 90px;
  }
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.navbar-nav .form-inline .input-group {
  width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .navbar-nav .form-inline .input-group {
    width: auto;
  }
}

.sidebar {
  width: 90px !important;
  background-color: #212529;
  min-height: calc(100vh - 56px);
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: 90px !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sidebar {
    width: 225px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 225px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    /*margin: 0 1rem;*/
    top: 0;
   
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 90px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: 90px  !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

.sidebar.fixed-top {
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

.form-label-group {
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 90px);
  height: 80px;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  footer.sticky-footer {
    width: calc(100% - 225px);
  }
}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

@media (min-width: 768px) {
  body.sidebar-toggled footer.sticky-footer {
    width: calc(100% - 90px);
  }
}

.sidebar .nav-link span {margin-left: 15px;}
.sidebar.toggled .nav-link span {margin-left: auto;}

.sidebar .nav-link:hover { background-color: #7f858c;}
.sidebar .dropdown-menu.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    width: 100%;
    min-width: 10rem;
    padding: .5rem 0;
    font-size: 0.8rem;
    text-align: left;
    list-style: none;
    background-color: #545e68;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;    
}
.sidebar.toggled .dropdown-menu.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    width: 100%;
    min-width: 17rem;
    padding: .5rem 0;
    font-size: 0.8rem;
    text-align: left;
    list-style: none;
    background-color: #545e68;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;    
}
.sidebar .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.sidebar .dropdown-item:hover{
    background-color: #7f858c;
}

.sidebar .dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #121417;
    font-weight: 600;
    white-space: nowrap;
}
.nav-item.dropdown.show{
    background-color: #545e68;
}





.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    background-color: #545e68;
}

.static-top .dropdown-menu.show {
    display: block;
    position: absolute;
/*    top: -1px;*/
    /*left: 0;*/
    z-index: 1000;
    float: left;
    width: 100%;
    min-width: 10rem;
    padding: .5rem 0;
    margin-top: 0px;
    font-size: 0.8rem;
    text-align: left;
    list-style: none;
    background-color: #545e68;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;    
}
.static-top  .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.static-top .dropdown-item:hover{
    background-color: #7f858c;
}

.static-top input.form-control:focus {border: none;}
.static-top input.form-control {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff !important;
    background-color: #525b65;
    background-clip: padding-box;
    border: 0px;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.static-top input.form-control:focus {
    border: 0px;
    outline: 0;
    box-shadow: none;
}
.static-top input.form-control::placeholder {color:#adb5bd;}
.btn {border-radius: 0px;}

.breadcrumb {border-radius: 0px;}
.card {border-radius: 0px; background-color: #fff;}
.form-control  {border-radius: 0px;}

html body .content .content-wrapper .content-header-title {
    font-weight: 500;
    letter-spacing: 1px;
    color: #464855;
}
@media (min-width: 1200px) {
.breadcrumb-new .content-header-title {
    border-right: 1px solid #E4E5EC;
}
}

.breadcrumb {width: 100%;}
.h3, h3 {
    font-size: 1.51rem;
}


.breadcrumb-new .content-header-title {
    border-right: none;
    padding: 6px 24px 8px 0;
    margin: 0 24px 0 0;
}

.lolek{
/*    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    word-wrap: break-word;*/
    background-color: #fff;
/*    background-clip: border-box;*/
    border: 1px solid rgba(0,0,0,.125);
background-color: #fff;
/*flex: 1 1 auto;*/
    padding: 1.25rem; 
    margin-bottom: 15px;
}

.tab-pane.container{
    margin-top: 10px;
    margin-left: 0px;
}

hr {
border-top: 1px solid #eee;
  margin: 18px 0;
}


.modal-header {    background-color: #a5adb6;    border-radius: 0px;    color: #31363a;}
.modal-content {border-radius: 0px;}
.modal-header  .close {color: #fff;}
.modal-header .close:not(:disabled):not(.disabled):focus, .modal-header .close:not(:disabled):not(.disabled):hover {color: #525b65;text-decoration: none;opacity: .75;}

.progress {margin-top: 5px; margin-bottom: 5px;}

h1 {font-size: 1.5rem; margin-bottom: 20px; margin-top: 25px; font-weight: bold;}
h2 {font-size: 1.25rem; margin-bottom: 20px; margin-top: 25px; font-weight: bold;}
h3 {font-size: 1rem; margin-bottom: 20px; margin-top: 25px; font-weight: bold;}

.progress-bar-label {font-size: 0.8rem; vertical-align: middle;}
.progress-bar-label.left {float: left; margin-right: 1em; }
.progress-bar-label.top{}


.badge {
    display: inline-block;
    padding: 0.35em .4em;
    border-radius: 0px; 
    margin: 2px;
}

.badge-button {padding: 6px 5px;}
.badge-button:hover {text-decoration: none; background-color: #a5adb6; }
.badge-button .badge {
    position: relative;
    margin-left: -0.6rem;
    top: -0.6rem;
    font-weight: 400;
    font-size: 0.5rem;
}